@page
@model IWEI.Areas.Admin.pages.SiteGallery.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Gallery[0].Src)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gallery[0].Show)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gallery[0].Sort)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Gallery) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Src)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Show)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sort)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
